.DS_Store
*.o
*.d
Makefile
.qmake.cache
.qmake.stash
qtbase/bin/qmake
qtbase/bin/qt.conf
config.status
qtbase/config.tests/*
.qmake.super
config.summary
qtbase/mkspecs/qconfig.pri
qtbase/mkspecs/qdevice.pri
qtbase/mkspecs/qmodule.pri
qtbase/src/corelib/global/qconfig.cpp
qtbase/src/corelib/global/qconfig.h

